gallery.martinade.fr {
  handle_path /api/* {
    rewrite * /{path}
    reverse_proxy gallery-backend
  }
  reverse_proxy   /*      gallery-frontend
  file_server
}

martinade.fr {
  reverse_proxy martinade
}
